<ion-header> <!-- para tirar linha: <ion-header class= "ion-no-border"> -->
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <span>PrevineBSB</span>
      <img src="/assets/logosus.png">   
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
<h1>Alterar Senha</h1>
<form>
  
  <ion-item color="primary">
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="text" #email required></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button color = "light" type="submit" (click)="onResetPassword(email)" expand="block">Enviar E-mail</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-button type="submit" color="light" (click)="onLogin(email)" expand="block" routerLink="/login">Lembro minha senha</ion-button>
    </ion-col>
  </ion-row>

</form>
</ion-content>
