ion-header{
    ion-toolbar{
      --min-height: 50px; //aumenta altura
      ion-title{
        align-items: flex-end;
        img{
          width: 45px; //largura
          vertical-align: middle; //alinhamento vertical
          margin-left: 10px; //distancia da esquerda
        }
  
        span{
          font-size: 20px; //tamanho da fonte
        }
      }
    }
  }
  
  ion-content{
    h1{
      text-align: center;
    }
  }