<ion-header> <!-- para tirar linha: <ion-header class= "ion-no-border"> -->
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <span>PrevineBSB</span>
      <img src="/assets/logosus.png">   
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
<h1>Disponibilidade</h1>

<form>

  <ion-item color="primary">
    <ion-label>Dia</ion-label>
    <ion-radio-group>
      <ion-item color="primary">
        <ion-label>Segunda</ion-label>
        <ion-radio color="light" checked></ion-radio>
      </ion-item>
      <ion-item color="primary">
        <ion-label>Terça</ion-label>
        <ion-radio color="light" checked></ion-radio>
      </ion-item>
      <ion-item color="primary">
        <ion-label>Quarta</ion-label>
        <ion-radio color="light" checked></ion-radio>
      </ion-item>
      <ion-item color="primary">
        <ion-label>Quinta</ion-label>
        <ion-radio color="light" checked></ion-radio>
      </ion-item>
      <ion-item color="primary">
        <ion-label>Sexta</ion-label>
        <ion-radio color="light" checked></ion-radio>
      </ion-item>
      <ion-item color="primary" >
        <ion-label>Sábado</ion-label>
        <ion-radio color="light" checked></ion-radio>
      </ion-item>
      <ion-item color="primary">
        <ion-label>Domingo</ion-label>
        <ion-radio color="light" checked></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <ion-item color="primary">
    <ion-label>Período</ion-label>
    <ion-radio-group>
      <ion-item color="primary">
        <ion-label>Manhã</ion-label>
        <ion-radio color="light" checked></ion-radio>
      </ion-item>
      <ion-item color="primary">
        <ion-label>Tarde</ion-label>
        <ion-radio color="light" checked></ion-radio>
      </ion-item>
      <ion-item color="primary">
        <ion-label>Noite</ion-label>
        <ion-radio color="light" checked></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

</form>
</ion-content>